/** Used for the transparent rounded corners **/
.top-left,.top-right {
   background-image: url('../images/corners-top.gif');
   height: 20px;
   font-size: 2px;
}

.top-left {
   margin-right: 20px;
}

.top-right {
   margin-left: 20px;
   margin-top: -20px;
   background-position: 100% 0;
}

/** Used for the transparent rounded corners **/
a:link {
   color: #1C4D97;
   text-decoration: none;
}

a:visited {
   color: purple;
   text-decoration: none;
}

a:active {
   text-decoration: underline;
}

a:hover {
   text-decoration: underline;
}

body {
   font: 75% Arial, sans-serif, Verdana, Helvetica;
   background-image: url(../images/fade_bg.png);
   background-repeat: repeat-x;
   color: black;
   margin-top: 5px;
   margin-left:0px;
   margin-bottom: 3%;
}

#layout {
   margin-left: auto;
   margin-right: auto;
   width: 770px;
   border: none;
}

#inside {
   margin-top: 0;
   margin-bottom: -1px;
   padding-bottom: 1px;
   padding-left: 25px;
   padding-right: 25px;
   background-color: white;
   margin-top: -20px;
}

#header{
	width:770px;
	display: block;
}

#header h1{
	text-align: left;
	font-size:32px;
	color: #1A99D4;
	padding-left: 15px;
	margin: 0px;
}

#navigation {
   border: none;
   display: inline;
}

#content {
   padding-left: 20px;
   padding-right: 20px;
   background-color: white;
   text-align: left;
}

#footer {
  border-top: 1px solid #EEE;
  padding: 5px;
  margin-top: 30px;
  text-align:center;
}

h1 {
   font-size: 150%;
   font-weight: bolder;
   line-height: 200%;
   text-align: center;
   margin-bottom: 2px;
}

h1.nav {
   font-size: 130%;
   font-weight: bolder;
   line-height: 200%;
   margin-bottom: 2px;
   text-align: left;
   margin-bottom: -20px;
}

h2 {
   font-size: 120%;
   font-weight: bold;
   text-align: center;
   line-height: 200%;
   margin-bottom: 2px;
}

h1+h2 {
   margin-top: +15px
}

h2+p {
   margin-top: -2px
}

h2.metin {
   font-weight: normal;
   font-size: 120%;
   line-height: 150%;
   vertical-align: middle;
   text-align: left;
}

h2.bilgi {
   background: url(../images/bilgi.png) no-repeat;
   font-weight: normal;
   font-size: 120%;
   line-height: 150%;
   min-height: 48px;
   text-align: left;
   padding: 12px 0px 0px 55px;
}

h2.uyari {
   background: url(../images/uyari.png) no-repeat;
   font-weight: normal;
   font-size: 120%;
   line-height: 150%;
   min-height: 48px;
   text-align: left;
   padding: 12px 0px 0px 55px;
}

h2.hata {
   background: url(../images/hata.png) #FFFFCC no-repeat left center;
   font-weight: normal;
   min-height: 48px;
   text-align: left;
   padding-left:55px;
   border:1px solid #ddd;
   width: 30em;
   -moz-border-radius:0.4em;
   -khtml-border-radius:0.4em;
}

h3 {
   font-size: 100%;
   font-weight: bolder;
   line-height: 200%;
   vertical-align: bottom;
   text-align: center;
}

h4 {
   font-size: 90%;
   font-weight: bold;
   line-height: 200%;
   vertical-align: bottom;
}

img {
   border: none;
   vertical-align: middle;
}

p {
   line-height: 130%;
   text-align: justify;
}

code {
   font-family: monospace;
   font-size: 110%;
   background-color: #ffffee;
}

pre {
   font-family: monospace;
   font-size: 110%;
   line-height: 120%;
   text-align: left;
   background-color: #ffffee;
   padding-left: 20px;
   padding-top: 10px
}

td.inside {
   background-color: white;
}

ul {
   line-height: 140%;
   list-style-position: outside;
   list-style-image: url(../images/icons/8/puce.png);
}

ul li li {
   list-style-image: url(../images/icons/8/puce2.png);
}

ol {
   line-height: 140%;
}

hr {
 border:1px solid #ddd;
 width:35em;
 margin-left:0;
}


fieldset{
  padding:0em 0.7em 0.7em 0.7em;
  border:1px solid #ddd;
  margin:5px 0px 5px 0px;
  width:30em;
  font-size: 110%;
  line-height: 160%;
  -moz-border-radius:0.4em;
  -khtml-border-radius:0.4em;
}


input[type="text"],input[type="password"],input[type="file"] {
	padding:0.15em;
	width:12em;
	border:1px solid #ddd;
	background:#fafafa;
    margin:5px 0px 5px 0px;
    height: 20px;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}

input[type="submit"],input[type="button"] {
	padding:0.15em;
	width:10em;
	border:1px solid #ddd;
	background:#fafafa;
    margin-top:10px;
    height: 30px;
    font-weight: bold;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}

textarea {
	padding:0.15em;
	border:1px solid #ddd;
	background:#fafafa;
    margin:5px 0px 5px 0px;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}

input:hover, input:focus, textarea:hover,  textarea:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
}

.index {
   line-height: 140%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

.welcome {
   font-weight: bolder;
   font-size: 150%;
   text-align:left;
}

.notes {
   text-align: left;
   font-size: smaller;
}

.notes h3 {
   text-align: left;
}

table.classic {
   font-size: 80%;
   text-align: left;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5px;
   margin-bottom: 15px;
   clear: both;
}

table.classic th {
   color: white;
   font-size: 1.1em;
   font-weight: bold;
   background-color: #335a91;
   padding:4px;
   text-align: left;
}

table.classic td {
   background-color: #f9f9f9;
   vertical-align: top;
   padding:4px;
   text-align: left;
}

.jsr {
   display: inline;
   text-decoration: underline;
}

#top_menu {
	position:relative;
	left:580px;
	top:10px;
	font-size:11px;
}
#top_menu a {
	background:#1A99D4;
	padding:4px 6px 6px;
	text-decoration:none;
	font-weight:bold;
	color:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

#top_menu a:hover {
	background:#1789BF;
}
