
/application/config/mcapi.php
/application/controllers/emaillist.php
/application/libraries/mcapi.php
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.php.core.prefs
/.buildpath
/.project